<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>영화이름: evil dead 2013</h1>
    <h2>《이블 데드》(영어: Evil Dead)는 2013년 공개된 미국의 공포 영화이다.<br>
        샘 레이미의 동명 영화를 바탕으로 페데 알바레스 감독이 리메이크하였다.</h2>
      <h3>주연명단
제인 레비
실로 페르난데즈
제시카 루카스
루 테일러 푸치
엘리자베스 블랙모어
      </h3>
       <img src="{{ url_for('static', filename='images/1.jpg') }}" alt="Mountains" style="width:20%">

  </body>
</html>